* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* Css */

body,
html {
  background: linear-gradient(45deg, red, blue);
  height: -1px !important;
}

.wrapper {
  width: 100%;
}

.align {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

/* To-Do List App */
.app {
  width: 70%;
  min-height: 200px;
  margin: 0 auto;
  border-radius: 22px;
  background: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  letter-spacing: -1px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, .3);
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.info {
  position: relative;
  height: 200px;
  width: auto;

  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  background: linear-gradient(135deg, rgba(158, 15, 184, 0.70) -10%, rgba(5, 232, 255, 0.8) 180%),
    url('https://static.vecteezy.com/system/resources/previews/000/101/253/non_2x/vector-free-abstract-background-1.jpg');
  background-size: cover;
  padding-bottom: 20px;

}

.date {
  position: relative;
  width: 100%;
  padding: 11px 0 5px 0;
}


#day,
#month {
  text-align: center;
  font-size: 26px;
  color: #fff;
}

#month {
  font-size: 16px;
}

#today {
  font-weight: bold;
}

.clear {
  clear: both;
}

.info-bottom {
  position: relative;
  height: 50px;
  width: 85%;
  margin: -33px auto 0 auto;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.left {
  float: left;
}

.right {
  float: right;
}

.middle {
  position: absolute;
  width: 140px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#count,
#tasks,
#count_done,
#tasks_done,
#remaining_done,
#remaining_tasks {
  margin-top: 11px;
  font-size: 19px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#tasks,
#tasks_done,
#remaining_tasks {
  font-weight: normal;
  font-size: 18px;
  margin-top: -2px;
}

#today2 {
  padding: 10px 0;
  background-color: aqua;
  text-align: center;
}

.ul-task {
  list-style: none;
  padding: 0 40px;
}

.li-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}

.item-title p {
  margin-bottom: 0;
}

.li-hidden {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  text-align: left;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.li-hidden p {
  margin: 0;
}

.bottom {
  padding: 20px 0;
  background-color: #61dafb;
  border-radius: 0 0 22px 22px;
  text-align: center;
}

.delete_button {
  float: right;
}

.check_button {
  float: left;
}


#add-new {
  text-decoration: none;
  background-color: #61dafb;
  color: #fff;
  border: none;
  font-size: 18px;
}

#add-new:hover {
  cursor: pointer;
  opacity: 0.8;
}

.add-icon {
  padding: 0 6px;
}

#copyright {
  margin-top: 40px;
  text-align: center;
}

#copyright a {
  color: #fff;
}


#task-job {
  width: 100%;
  outline: none;
  padding: 5px 10px;
  background-color: skyblue;
  border: none;
}

.modal-header {
  background-color: #3A8BC4;
}

.modal-body {
  padding: 30px 2rem;
}

.item {
  width: 80%;
}

.item:hover {
  background-color: #ccc;
}

.done-text {
  margin-right: 4px;
}

@media screen and (min-width:739px) and(max-width:1023px) {
  .app {
    width: 625px;
  }
}


.add-input {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.search-input {
  padding: 0 40px;
  margin-bottom: 20px;
}